pkgbase = avr-gcc-atmel
	pkgdesc = The GNU AVR Compiler Collection (from Atmel)
	pkgver = 5.4.0
	pkgrel = 1
	url = https://www.microchip.com/en-us/tools-resources/develop/microchip-studio/gcc-compilers
	arch = x86_64
	arch = i686
	license = GPL
	license = LGPL
	license = FDL
	license = custom
	depends = avr-binutils
	depends = gcc-libs
	depends = libmpc
        makedepends = unzip
	optdepends = avr-libc: Standard C library for Atmel AVR development
	provides = avr-gcc=5.4.0
	conflicts = avr-gcc
	options = staticlibs
	options = !emptydirs
	options = !strip
	source = https://ww1.microchip.com/downloads/Secure/en/DeviceDoc/3.6.2.zip
	source = https://libisl.sourceforge.io/isl-0.15.tar.bz2
	md5sums = 2d6d8fae4439a9305fede68d56a63207
	md5sums = 8428efbbc6f6e2810ce5c1ba73ecf98c

pkgname = avr-gcc-atmel

